{{- $name := "Supakarn Laorattanakul" -}}
{{- $email := "wearedprompt@gmail.com" -}}
{{- $github_user := "iamprompt" -}}
{{- $passphrase := default "change me with 'SETPASS=1 chezmoi init'" (index . "passphrase") -}}
{{- $computer_name := default "iamPrompt MacBook" (env "CM_computer_name") -}}
{{- $hostname := default "iamprompt" (env "CM_hostname") -}}


{{- if (env "SETPASS") }}
{{    $passphrase = promptString "Encryption Passphrase" $passphrase -}}
{{- end }}

{{- if (env "ASK") }}
{{-   $computer_name = promptString "Computer Name" $computer_name -}}
{{-   $hostname = promptString "Hostname" $hostname -}}
{{-   $name = promptString "Full Name" $name -}}
{{-   $email = promptString "Email" $email -}}
{{-   $github_user = promptString "GitHub Username" $github_user -}}
{{- end }}

data:
  name: {{ $name | quote }}
  email: {{ $email | quote }}
  github_user: {{ $github_user | quote }}
  computer_name: {{ $computer_name | quote }}
  hostname: {{ $hostname | quote }}
  passphrase: {{ $passphrase | quote }}

encryption: gpg
gpg:
  symmetric: true
  args: ["--batch", "--passphrase", {{ $passphrase | quote }}, "--no-symkey-cache", "--quiet"]
